body {
  background-color: rgba(0, 0, 0, 0.527);
  padding: 0px;
}
.container {
  width: 100%;
  margin: 0 0;
  padding: 0 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.calendar {
  width: 100%;
  max-width: 800px;
  margin: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #f9f9f9;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.weekdays {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: #f9f9f9;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.days {
  display: flex;
  flex-wrap: wrap;
  /* padding: 10px 15px; */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.cell {
  color: initial;
  width: 13%;
  height: 50px;
  flex-grow: 1;
  padding: 10px 0;
  text-align: center;
  border: 1px solid #494949;
  background-color: rgba(222, 227, 255, 0.329);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.isHoliday {
  position: absolute;
  top: 5px;
  left: 5px;
  font-weight: bold;
  font-size: 2rem;
}
.cell .date-number {
  font-size: 1.7rem;
  font-weight: bold;
}
.saturday {
  background-color: rgba(5, 105, 219, 0.39) !important;
}
.sunday {
  background-color: rgba(255, 0, 0, 0.635) !important;
}
.month-heading {
  color: #494949;
  z-index: 999;
}
.prev,
.next {
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .calendar {
    margin: 0;
    width: 100%;
  }
  .special-day {
    font-size: 10px;
    text-wrap: wrap;
  }
  .date-number {
    font-size: 17px !important;
  }
  .isHoliday {
    font-size: 1.5rem;
    top: 2px;
    left: 2px;
  }
}
